.header{
    font-size:43px;
    margin: 0px;
    width: 100%;
    box-shadow: 0px 10px 20px darkslategrey;
}
.note{
    font-size: 25px;
    color:indigo;

}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    color: lavender;
    background-color: blueviolet;
    line-height: 3;
    width: 100%;
    text-align: center; 
}
canvas{
    border: 3px ridge indigo;
    border-radius: 15px;
    box-shadow: 0px 10px 20px darkslategray;
}
body{
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
}